@use '../../../assets/styles/globals/variables' as v;

.web3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 96px;

    &-container {
        width: 100%;
        max-width: 910px;
        height: fit-content;
        background: #292937;
        filter: drop-shadow(7px 7px 15px rgba(0, 0, 0, 0.15));
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        padding: 95px 64px 30px 64px;

        &-elipse-1 {
            position: absolute;
            left: -50%;
            bottom: -130%;
        }

        &-elipse-2 {
            position: absolute;
            right: -50%;
            top: -100%;
        }

        &-title {
            max-width: 500px;
            position: relative;

            h3 {
                font-weight: 600;
                font-size: 48px;
                line-height: 64px;
            }

            p {
                line-height: 24px;
            }
            
        }

    }

    &-image {
        position: relative;
        border-radius: 20px;
        margin-left: -282px;
    }

    @media (max-width: v.$tablet-down){
        flex-direction: column;

        &-container {
            width: fit-content;
        }

        &-image {
            order: -1;
            margin-left: unset;
            margin-bottom: -60px;
        }
    }
}