@use '../../../assets/styles/globals/variables' as v;

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1134px;
    margin: 0 auto 96px auto;

    &-howto {
        width: 604px;
    }

    &-vr {
        width: 467px;
        height: 482px;
        background: #292937;
        border-radius: 23px;
        padding: 35px;
        position: relative;
        overflow: hidden;

        &-elipse-1 {
            position: absolute;
            right: -20%;
            top: -50%;
        }

        &-elipse-2 {
            position: absolute;
            left: -25%;
            bottom: -45%;
        }

        &-logo {
            position: absolute;
            top: 30px;
            right: 30px;
        }

        &-man {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        h3 {
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            max-width: 281px;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }

        .button {
            position: relative;
        }
    }

    h3 {
        position: relative;
    }

    @media (max-width: v.$laptop-down) {
        &-howto {
            width: 50vw;
        }
    }

    @media (max-width: v.$tablet-down) {
        flex-direction: column;
        row-gap: 20px;
        &-howto {
            width: 90vw;
        }

        &-vr {
            max-width: 90vw;

            &-man {
                width: 70%;
            }
        }
    }
}