@use '../../../assets/styles/globals/variables'as v;

.navbar {
    width: 100%;
    position: fixed;
    max-width: 1134px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 77px;
    background: rgba(30, 30, 44, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 50px;
    padding: 0 42px;
    left: 50vw;
    margin-top: 24px;
    transform: translate(-50%, 0);
    z-index: 2;

    @media (max-width: v.$laptop-down) {
        max-width: 1024px;
    }

    @media (max-width: v.$mobile-down) {
        padding: 30px;
        height: 50px;
        img {
            width: 40%;
        }
    }
}