@use '../../../assets/styles/globals/variables' as v;

.hero {
    width: 100%;
    margin: 0 auto;
    padding-top: 220px;
    overflow: hidden;
    position: relative;
    padding-bottom: 96px;

    &__layout {
        width: 100%;
        max-width: 1440px;
        position: relative;
        margin: 0 auto;

    }
    
    .elipse-1 {
        position: absolute;
        right: -20%;
        top: -60%;
    }
    
    .elipse-2 {
        position: absolute;
        left: -10%;
        top: -10%;
    }

    @media (max-width: v.$laptop-down) {
        &__layout {
            max-width: 1024px;
        }
    }

    @media (max-width: v.$tablet-down) {
            padding-top: 150px;
    }
    
}