@use '../../../assets/styles/globals/variables' as v;

.blockchain {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background: linear-gradient(273.72deg, #FC4B2C 0%, #FFB60E 100%);
    border-radius: 20px;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 96px;

    &-container {
        width: 100%;
        max-width: 1098px;
        height: 470px;
        filter: drop-shadow(7px 7px 15px rgba(0, 0, 0, 0.15));
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        padding: 45px;
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 50px;
        background: #292937;
        
        &-elipse-1 {
            position: absolute;
            left: -50%;
            bottom: -130%;
        }

        &-elipse-2 {
            position: absolute;
            right: -50%;
            top: -100%;
        }

        &-title {
            position: relative;
            align-self: center;
            max-width: 523px;
            margin-bottom: 60px;

            h3 {
                font-weight: 600;
                font-size: 48px;
                line-height: 64px;
            }

            p {
                line-height: 24px;
            }

        }

        &-image {
            position: relative;
        }
    }

    @media (max-width: v.$tablet-down){
        &-container {
            grid-template-columns: initial;
            height: fit-content;
            justify-items: center;
            max-width: 910px;

            &-elipse-2 {
                top: -50%;
                right: -50%;
            }

            &-elipse-1 {
                bottom: -50%;
                left: -50%;
            }

            &-image {
                width: 80vw;
            }
        }
    }

    @media (max-width: v.$mobile-down) {
        &-image {
            width: 65vw;
        }
    }

}