@use '../../../assets/styles/globals/variables' as v;

.content {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 96px;

    &-with {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            size: 100%;
        }

        .pills {
            margin-bottom: 32px;
            background: #E52B20;
            border-radius: 15px;
            padding: 4px 16px;
        }
    }

    &-vs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            size: 100%;
            @media (max-width: v.$laptop-down) {
                width: 5vw;
            }
        }
    }

    &-without {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .pills {
            margin-bottom: 32px;
            background: #63CE63;
            border-radius: 15px;
            padding: 4px 16px;
        }

        img {
            size: 100%;
            @media (max-width: v.$laptop-down) {
                width: 30vw;
            }
        }
    }

    @media (max-width: v.$laptop-down) {
        max-width: 1024px;

        &-with img {
            width: 30vw;
        }
        &-vs img {
            width: 5vw;
        }
        &-without img {
            width: 30vw;
        }
    }

    @media (max-width: v.$tablet-down) {
        grid-template-columns: none;
        grid-template-rows: 40% 30% 40%;
        
        &-with img {
            width: auto;
        }
        &-vs img {
            width: auto;
        }
        &-without img {
            width: auto;
        }
    }
}