@keyframes button-hover {
    from {
        color: #1E1E2C;
    }

    to {
        color: #FFFFFF;
    }
}

.border-gradient {
    background: rgba(0, 0, 0, 0);
    width: fit-content;
    height: fit-content;
    padding: 2px;
    border-radius: 50px;
    transition: 0.3s;
    position: relative;
    
    &:hover {
        background: linear-gradient(273.72deg, #FC4B2C 0%, #FFB60E 100%);
    }
}

.border-transparent {
    background: rgba(0, 0, 0, 0);
    width: fit-content;
    height: fit-content;
    padding: 3px;
    border-radius: 50px;
    transition: 0.3s;
    
    &:hover {
        background: #1E1E2C;
    }
}

.button {
    padding: 14px 32px;
    border-radius: 50px;
    background: linear-gradient(273.72deg, #FC4B2C 0%, #FFB60E 100%);
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: #1E1E2C;
    transition: 0.3s;

    &:hover {
        color: #FFFFFF;
    }

}