@mixin form-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 8px;

    input {
        height: 40px;
        border-radius: 20px;
        border: none;
        outline: none;
        padding: 10px 12px;
        font-family: 'Inter';
    }
}

.modal-bg {
    width: 100%;
    height: 100%;
    background-color: #1E1E2C;
    opacity: 50%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.contact-modal {
    width: 100%;
    max-width: 629px;
    height: 100%;
    height: 784px;
    background: #1E1E2C;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    position: fixed;
    padding: 45px;
    overflow: hidden;

    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;

    .exit-img {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .elipse-1 {
        position: absolute;
        top: -70%;
        left: -120%;
    }

    .logo {
        margin-bottom: 30px;
        position: relative;
    }

    h2 {
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        position: relative;
    }

    label {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        position: relative;

        span {
            color: #FC4B2C;
        }
    }

    .form {
        display: grid;
        grid-template-areas: 'name email'
            'phone service'
            'message message';
        column-gap: 22px;
        row-gap: 30px;
        position: relative;

        &-name {
            @include form-layout;
            grid-area: name;
        }

        &-email {
            @include form-layout;
            grid-area: email;
        }

        &-phone {
            @include form-layout;
            grid-area: phone;
        }

        &-service {
            @include form-layout;
            grid-area: service;
        }

        &-message {
            @include form-layout;
            grid-area: message;

            textarea {
                height: 92px;
                border-radius: 20px;
                padding: 10px 12px;
                font-family: 'Inter';
                outline: none;
            }
        }

        input[type="submit"] {
            background: linear-gradient(273.72deg, #FC4B2C 0%, #FFB60E 100%);
            border-radius: 50px;
            border: none;
            padding: 14px 32px;
            width: fit-content;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
        }
    }
}