nav {
    display: flex;
    align-items: center;
    gap: 43px;

    ul {
        display: flex;
        align-items: center;
        gap: 38px;

        li {
            text-decoration: none;
            list-style-type: none;
            font-weight: 500;
            font-size: 18px;
            line-height: 23.5px;
        }
    }
}